/* Styling for the filter form */
.filter-form {
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #181818;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    border-radius: 8px;
  }
  
  .filter-form fieldset {
    border: 1px solid #555;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .filter-form legend {
    color: #04652e;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .filter-form label {
    margin-right: 10px;
    display: block;
  }
  
  .filter-form input[type="checkbox"],
  .filter-form input[type="radio"],
  .filter-form input[type="number"],
  .filter-form select {
    margin-right: 10px;
    background-color: #222;
    color: #04652e;
    border: 1px solid #555;
    padding: 5px;
    border-radius: 4px;
  }
  
  .filter-form input[type="number"] {
    width: 100%;
  }
  
  .filter-form input[type="checkbox"]:checked,
  .filter-form input[type="radio"]:checked {
    background-color: #0ee80e;
  }
  
  .filter-form button {
    background-color: #0ee80e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .filter-form button:hover {
    background-color: #04652e;
  }
  
  @media (max-width: 768px) {
    .filter-form label {
      display: block;
    }
  }